{% extends "shared/header.html" %}
{% block title %}Hola{% endblock title %}
{% block main %}
    <p>{{ echo.user.username }}</p>
    <p>{{ echo.content }}</p>
    {% if request.user == echo.user %}
        <a href="{% url 'echos:update-echo' echo.id %}">Update echo</a>
        <a href="{% url 'echos:delete-echo' echo.id %}">Delete echo</a>
    {% endif %}
    <a href="{% url 'echos:create-wave' echo.id %}">Wave this echo</a>
    {% for wave in waves %}
        <p>{{ wave.user.username }}</p>
        <p>{{ wave.content }}</p>
    {% endfor %}
{% endblock main %}