.login {
  width: 300px;
  margin: 40px auto;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
}

.login div input[type="text"],
.login div input[type="password"] {
  width: 100%;
  height: 40px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn {
  border: 1px solid black;
}
