{% extends "shared/base.html" %}
{% block header %}
<header class="d-flex justify-content-between align-items-center p-3 px-5 bg-light shadow">
    <div class="d-flex align-items-center ps-4">
        <a href="{% url 'echos:echo-list' %}" class="text-decoration-none">
            <h1 class="text-dark">TRIBU</h1>
        </a>
        <nav class="ml-3 d-flex">
            <a href="{% url 'echos:create-echo' %}" class="nav-link text-dark">Create Echo</a>
            <a href="{% url 'users:user-list' %}" class="nav-link text-dark">All Users</a>
        </nav>
    </div>
    <div class="d-flex align-items-center pe-4">
        {% if request.user.is_authenticated %}
            <a href="{% url 'users:my-profile' %}" class="nav-link text-dark">Profile</a>
            <form action="{% url 'logout' %}" method="post" class="ml-2">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-danger">Logout</button>
            </form>
        {% else %}
            <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
        {% endif %}
    </div>
</header>
{% endblock header %}